@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #33475b;
}

.conteudo-main {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}