@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #33475b;
}

.conteudo-main {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

footer {
    background: #ffffff;
    padding: 24px 0;
}

.section-footer {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.logo-desenvolve-detalhata {
    margin-left: 329.51px;
}

.footer-icons {
    justify-items: end;
    margin-left: 66.05px;
}

.footer-paragrafo {
    margin-left: 280px;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}